#heading_text {
  text-align: center;
}

.nav-item {
  padding-right: 3%;
}

/*Footer code starts here*/
.footer {
  background-color: black;
  color: white;
  margin-top: 20%;
  text-align: center;
}
#tel {
  color: red;
}
#email {
  color: red;
}
#tandc {
  color: red;
}
#home {
  color: red;
}
/*Footer code ends here*/
